<div class="container mb-5">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <img src="../../../../../assets/img/laptop1.jpeg" class="col w-50" alt="...">
                    <div class="col contenedor-carousel" *ngIf="!pantallachica">
                        <h1 class="mb-5">AORUS 17X: Potencia, Desempeño y Diseño en una Laptop de Alta Gama</h1>
                        <p>La AORUS 17X es una laptop diseñada para los gamers y creadores de contenido más exigentes.
                            Equipado con un potente procesador Intel Core i9 de 13ª generación y una tarjeta gráfica
                            NVIDIA GeForce RTX 4090, este equipo lleva el rendimiento a nuevas alturas. Gracias a su
                            pantalla de 17.3" QHD a 240Hz, ofrece una experiencia visual fluida y vibrante, ideal para
                            jugar, editar y disfrutar de contenido multimedia de calidad superior.<br>

                            Características destacadas:<br><br>

                            Pantalla QHD de 17.3" con frecuencia de actualización de 240Hz para una experiencia visual
                            excepcional.<br><br>
                            Procesador Intel Core i9-13900HX con 24 núcleos, asegurando un rendimiento multitarea sin
                            interrupciones.<br><br>
                            Tarjeta gráfica NVIDIA GeForce RTX 4090 para un rendimiento gráfico sin precedentes, ideal
                            para juegos AAA y edición de video en 4K.<br><br>
                            Hasta 64GB de memoria DDR5 y almacenamiento SSD NVMe de 2TB para cargas rápidas y gran
                            capacidad de almacenamiento.<br><br>
                            Teclado mecánico con retroiluminación RGB diseñado para ofrecer una experiencia de escritura
                            precisa y cómoda, incluso durante largas sesiones de uso.<br><br>
                            Sistema de refrigeración avanzado con tecnología WINDFORCE Infinity para mantener la laptop
                            en temperaturas óptimas durante sesiones de alto rendimiento.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row">
                    <img src="../../../../../assets/img/laptop2.jpeg" class="col w-50" alt="...">
                    <div class="col contenedor-carousel" *ngIf="!pantallachica">
                        <h1 class="mb-3">ROG Strix G15: Rendimiento Imparable para Gamers y Creadores</h1>
                        <p>La ROG Strix G15 es la laptop que redefine el estándar de rendimiento en el mundo del gaming
                            y la productividad creativa. Con un diseño agresivo y componentes de última generación, esta
                            máquina está hecha para quienes buscan potencia, velocidad y fiabilidad en cada acción.
                            Equipado con un procesador AMD Ryzen 9 7940HX y una tarjeta gráfica NVIDIA GeForce RTX 4070,
                            la Strix G15 garantiza una experiencia de juego fluida y un rendimiento gráfico
                            sobresaliente.<br>

                            Características principales:<br><br>

                            Pantalla Full HD de 15.6" con una tasa de refresco de 144Hz, brindando una experiencia
                            visual nítida y fluida, ideal para juegos rápidos y gráficos detallados.<br><br>
                            Procesador AMD Ryzen 7 4800H de 8 núcleos y 16 hilos, proporcionando potencia multitarea
                            para juegos y aplicaciones exigentes.<br><br>
                            NVIDIA GeForce GTX 1650 Ti, ofreciendo un rendimiento gráfico fluido y capacidad para jugar
                            títulos populares a altas configuraciones.<br><br>
                            16GB de memoria RAM DDR4 para un rendimiento multitarea rápido y eficiente, asegurando que
                            puedas jugar, trabajar y realizar múltiples tareas sin problemas.<br><br>
                            Almacenamiento SSD de 512GB, ofreciendo una carga rápida de juegos, aplicaciones y un acceso
                            veloz a tus archivos.<br><br>
                            Teclado retroiluminado RGB con retroalimentación precisa y personalización de iluminación
                            para una experiencia de juego inmersiva y cómoda.<br><br>
                            Sistema de refrigeración ROG Intelligent Cooling, con tecnología avanzada de ventilación
                            para mantener el dispositivo fresco durante sesiones largas y exigentes.</p>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <img src="../../../../../assets/img/laptop3.jpeg" class="col w-50" alt="...">
                    <div class="col contenedor-carousel" *ngIf="!pantallachica">
                        <h1 class="mb-3">Predator Helios 16: Desempeño de Alto Nivel para Gamers Exigentes</h1>
                        <p> La Predator Helios 16 combina un potente Intel Core i7 de 13ª generación y RTX 4070 para un
                            rendimiento excepcional en gaming y productividad. Su pantalla Mini-LED de 16” ofrece gran
                            detalle, mientras que su sistema de refrigeración asegura estabilidad en largas
                            sesiones.<br><br>

                            Características destacadas:<br><br>

                            Pantalla Mini-LED de 16” WQXGA (2560x1600) con una frecuencia de actualización de 165Hz,
                            perfecta para una experiencia de juego fluida y una visualización increíblemente nítida y
                            precisa.<br><br>
                            Intel Core i7-13700HX de 13ª generación con 14 núcleos, ofreciendo un rendimiento
                            excepcional para juegos AAA, creación de contenido, y multitarea.<br><br>
                            NVIDIA GeForce RTX 4070 con arquitectura Ada Lovelace, ofreciendo trazado de rayos en tiempo
                            real, rendimiento de alta calidad en 4K, y soporte para las últimas tecnologías gráficas
                            como DLSS 3.<br><br>
                            Hasta 32GB de memoria RAM DDR5 y 1TB de almacenamiento SSD para una carga rápida de juegos,
                            archivos y programas, asegurando una experiencia de usuario fluida y sin
                            interrupciones.<br><br>
                            Tecnología de refrigeración AeroBlade 3D con ventiladores avanzados y un diseño de
                            disipación térmica eficiente que mantiene la laptop a temperaturas óptimas durante las
                            sesiones de alto rendimiento.<br><br>
                            Teclado mecánico retroiluminado RGB con personalización por zonas, ofreciendo una
                            experiencia de escritura cómoda y precisa, además de una estética dinámica.
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div class="cardcontainer">
    <div class="img">
        <app-cards></app-cards>
    </div>
</div>