<div class="cabecera">
    <div class="logo-empresa">
        <img src="../../../../../assets/img/logo-de-la-empresa.jpg" alt="" style="width: 45px; height: 45px; border-radius: 50%;">
        
    </div>
    <nav class="">
      <a href="">Inicio</a>
      <a href="">Productos</a>
      <a href="">Catalogos</a>
      <a href="">Mas Info</a>
      <a href="">Contacto</a>
      <span></span>
    </nav>
    <div class="boton-de-registro">
        
        <a class="btn" href="#"><button>Ingresar</button></a>
    </div>
</div>