
<link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">



    <div class="cabecera">
        <div class="logo">
            <img src="../../../../../assets/img/logo-de-la-empresa.jpg" alt="Logo de la marca">
        </div>
        <nav>
           <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Nosotros</a></li>
           </ul>            
        </nav>
        <div>

            <a class="btn" href="#"><button (click)="Ingresar()" routerLink="/registro" *ngIf="loggeado">Registrarse</button></a>
            
        </div>
    </div>